*{
    margin: 100;
    padding: 100;
}

@font-face{
 font-family:'relojDigital';
 src: url('radioland/RADIOLAND.TTF');
}

.contenedorTimer{
    text-align: center;
}

.contenedorTimer h1{
    font-size: 6rem;
    font-weight: 400;
    font-family: 'relojDigital';
    color: blue;
}

.contenedorTimer h2{
    font-size: 3rem;
    font-weight: 400;
    font-family: 'relojDigital';

}

.contenedorTimer p{
    font-size: 2.5rem;
}

.contenedorSelector{
    color: red;
}

.boton{

}

/*
#timer {
  font-size: 3em;
  background-color: black;
  color: white;
  font-family: 'Courier New', monospace;
  text-align: center;
  padding: 1em;
}
*/

